#countryList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.countries{
    border: 5px solid greenyellow;
    text-align: center;
    border-radius: 20px;
    width: 320px;
    padding: 20px;
}
.country{
    color: magenta;
}
.capital{
    color: mediumvioletred;
}
.region{
    color: limegreen;
}
.population{
    color: indianred;
}
#countryInfo img{
    width: 200px;
}